/* global */


.background_positive{
    background-color: rgb(3, 174, 3, 0.1);
}

.background_negative{
    background-color: rgb(255, 25, 0, 0.1);
}

.font_positive{
    color: rgb(3, 174, 3) !important;
}
.font_negative{
    color:rgb(255, 25, 0) !important;
}



/* for metrics */

.metric_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: 100%;
    max-width: 18rem;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;

    text-align: center;
    border: 0.3rem solid rgba(5, 73, 4);
    border-radius: 8%;
}

.metric_card p,
.metric_card h2{
    margin: 0 !important;
    padding: 0,5rem !important;
    line-height: 1.2;
}

.title_of_matric_card{
    font-size: 1.6rem !important;
    color: #865506;
    font-weight: 900;
    text-transform: uppercase;
}

.value_of_metric_card{
    font-size: 2.6rem !important;
    font-weight: 600;
}

.delta_of_metric_card{
    color: #5d5b58;
    font-size: 1.1rem;
}

.last_of_metric_card{
    font-size: 0.9rem;
    opacity: 0.7;
}